<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="d-flex justify-content-center align-items-center vh-100 bg-light">
    <div>
        <h1 class="mb-5">Profile</h1>
        {% if user %}
            <p><span class="fw-bold">UID: </span>{{ user[0] }}</p>
            <p><span class="fw-bold">Username: </span>{{ user[1] }}</p>
            <p><span class="fw-bold">Password: </span>{{ user[2] }}</p>
        {% else %}
        <p>User not Found</p>
        {% endif %}
        <form action="{{ url_for('cards.user_cards') }}" method="GET">
            <input type="hidden" name="user_id" value="{{ user[0] }}">
            <button class="btn btn-primary" type="submit">Your Cards</button>
        </form>
        <form action="{{ url_for('index.home') }}" method="GET">
            <button class="btn btn-primary" type="submit">HOME</button>
        </form>
    </div>
</body>

</html>